/.env.example           export-ignore
/.git-blame-ignore-revs export-ignore
/.gitattributes         export-ignore
/.github                export-ignore
/.gitignore             export-ignore
/.scrutinizer.yml       export-ignore
/autoload.php           export-ignore
/codecov.yml            export-ignore
/CONTRIBUTING.md        export-ignore
/phpstan.neon.dist      export-ignore
/phpunit.php            export-ignore
/phpunit.xml.dist       export-ignore
/tests                  export-ignore

# Configure diff output for .php and .phar files.
*.php diff=php
*.phar -diff
