sudo: false
language: php
php:
  - 5.6
  - hhvm
  - 7
script:
  - composer install
  - ./vendor/bin/phpunit --coverage-clover=coverage.clover
after_script:
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover coverage.clover
