<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="./phpunit.php"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.0/phpunit.xsd">
    <testsuites>
        <testsuite name="unit">
            <directory>./tests</directory>
            <!-- abstract base class, not a runnable test -->
            <exclude>./tests/AbstractQueryTest.php</exclude>
            <exclude>./tests/Integration</exclude>
        </testsuite>
        <testsuite name="integration">
            <directory>./tests/Integration</directory>
            <!-- abstract base class, not a runnable test -->
            <exclude>./tests/Integration/AbstractIntegrationTest.php</exclude>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </source>
</phpunit>
